<div class="container">
  <div class="row">
    <div class="panel panel-primary">
      <div class="panel-heading">
        Select an article
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-12">
            <form class="form-inline" ng-submit="searchArticle()">
              <input type="input" class="form-control input-wide" list="articleList" placeholder="Search for an article" ng-model="articleTitle">
              <datalist id="articleList">
                <option ng-repeat="article in articles" value="{{ article._id }}">{{ article.count }} revisions
              </datalist>
              <button type="submit" class="btn btn-default">Search</button>
            </form>
          </div>
        </div>

        <div class="row" ng-if="!!articleData && articleData.found">
          <div class="col-sm-4">
            <h2>{{ articleData.article.title }}</h2>
            <h4>Total revisions: {{ articleData.revisions }}</h4>
            <br>
            <h4>New revisions downloaded: {{ data.newRevisions || 0 }}</h4>
          </div>
          <div class="col-sm-8">

          </div>
        </div>

        <div class="row" ng-if="!!articleData && !articleData.found">
          <div class="col-sm-6">
            <br>
            <h2>Article not found!</h2>
          </div>
        </div>
      </div>
    </div>


    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" ng-class="selectedTab ==='bar-chart-tab-1' ? 'active' : ''">
        <a href="" aria-controls="bar-chart" ng-click="selectTab('bar-chart-tab-1')">
          <i class="fa fa-bar-chart"></i> Distribution by year and user type
        </a>
      </li>

      <li role="presentation" ng-class="selectedTab ==='pie-chart-tab-1' ? 'active' : ''">
        <a href="" aria-controls="pie-chart" ng-click="selectTab('pie-chart-tab-1')">
          <i class="fa fa-pie-chart"></i> Distribution by user type
        </a>
      </li>

      <li role="presentation" ng-class="selectedTab ==='bar-chart-tab-2' ? 'active' : ''">
        <a href="" aria-controls="bar-chart" ng-click="selectTab('bar-chart-tab-2')">
          <i class="fa fa-bar-chart"></i> Distribution by year made by one or a few of the top 5 users
        </a>
      </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" ng-class="selectedTab ==='bar-chart-tab-1' ? 'active tab-pane' : 'tab-pane'" id="bar-chart">
        <div class="row" ng-if="loadedBarChart1">
          <div class="col-sm-12 text-center margin-top">
            <span us-spinner="{radius:30, width:8, length: 16}"></span>
          </div>
        </div>

        <div id="bar-chart-2"></div>
      </div>

      <div role="tabpanel" ng-class="selectedTab ==='pie-chart-tab-1' ? 'active  tab-pane' : ' tab-pane'" id="pie-chart">
        <div class="row" ng-if="loadedPieChart1">
          <div class="col-sm-12 text-center margin-top">
            <span us-spinner="{radius:30, width:8, length: 16}"></span>
          </div>
        </div>

        <div id="pie-chart-2"></div>
      </div>

      <div role="tabpanel" ng-class="selectedTab ==='bar-chart-tab-2' ? 'active tab-pane' : 'tab-pane'" id="bar-chart">
        <!--<div class="row" ng-if="loadedBarChart2">
          <div class="col-sm-12 text-center margin-top">
            <span us-spinner="{radius:30, width:8, length: 16}"></span>
          </div>
        </div>-->

        <div id="bar-chart-3"></div>
      </div>
    </div>

  </div>
</div>