/* Remove the border radius from navbar */

nav {
  border-radius: 0 !important;
}


/* Since the top bar is stationary, we need to push the html body by 80px */

.margin-top {
  margin-top: 50px !important;
}


/* Style the search form */

form.search-form button {
  margin-left: 5px;
}

form.search-form input {
  min-width: 400px;
}

/* Make the input field bigger */
.input-wide {
  min-width: 50% !important;
}

#spinner {
  position: relative;
  top: 25vh;
}
