mixin charts
  .col-sm-12
    .panel.panel-default
      .panel-body
        ul.nav.nav-tabs
          li.active(role="presentation")
            a(href="#bar-chart-tab" data-toggle="tab")
              i.fa.fa-bar-chart
              |  Distribution by year and user type
          li(role="presentation")
            a(href="#pie-chart-tab" data-toggle="tab")
              i.fa.fa-pie-chart
              |  Distribution by user type

        .tab-content.clearfix
          #bar-chart-tab.tab-pane.active
            #bar-chart-1
          #pie-chart-tab.tab-pane
            #pie-chart-1

mixin articleCharts
  .col-sm-12
    .panel.panel-default
      .panel-body
        ul.nav.nav-tabs
          li.active(role="presentation")
            a(href="#bar-chart-1-tab" data-toggle="tab")
              i.fa.fa-bar-chart
              |  Distribution by year and by user type
          li(role="presentation")
            a(href="#pie-chart-tab" data-toggle="tab")
              i.fa.fa-pie-chart
              |  Distribution by user type
          li(role="presentation")
            a(href="#bar-chart-2-tab" data-toggle="tab")
              i.fa.fa-bar-chart
              |  Distribution by year made by one or a few of the top 5 users

        .tab-content.clearfix
          #bar-chart-1-tab.tab-pane.active
            #bar-chart-2
          #pie-chart-tab.tab-pane
            #pie-chart-2
          #bar-chart-2-tab.tab-pane
            .row
              .col-sm-6.col-sm-offset-1
                h4 Please select user/users
                form#user-based-chart
                  each editor,index in data.topEditors
                    .checkbox
                      label
                        input(type="checkbox" name="user" value=editor._id)
                        | #{editor._id}
                  button.btn.btn-primary.btn-sm(type="submit") Fetch data

            .row
              #bar-chart-3
