mixin statistics(data)
  .col-sm-6
    .panel.panel-primary
      .panel-heading
        h3.panel-title Most revisions
      .panel-body
        h4 #{ data.revisions.most._id }
        h5 Total revisions: #{ data.revisions.most.count }
  .col-sm-6
    .panel.panel-danger
      .panel-heading
        h3.panel-title Least revisions
      .panel-body
        h4 #{ data.revisions.least._id }
        h5 Total revisions: #{ data.revisions.least.count }
  .col-sm-6
    .panel.panel-primary
      .panel-heading
        h3.panel-title Article edited by largest group of registered users
      .panel-body
        | Panel content
  .col-sm-6
    .panel.panel-danger
      .panel-heading
        h3.panel-title Article edited by smallest group of registered users
      .panel-body
        | Panel content
  .col-sm-6
    .panel.panel-primary
      .panel-heading
        h3.panel-title Article with longest history
      .panel-body
        | Panel content
  .col-sm-6
    .panel.panel-danger
      .panel-heading
        h3.panel-title Article with shortest history
      .panel-body
        | Panel content
