mixin statistics
  #statistics-panels.row
    .col-sm-6
      .panel.panel-primary
        .panel-heading
          h3.panel-title Most revisions
        .panel-body
          | Panel content
    .col-sm-6
      .panel.panel-danger
        .panel-heading
          h3.panel-title Least revisions
        .panel-body
          | Panel content
    .col-sm-6
      .panel.panel-primary
        .panel-heading
          h3.panel-title Most unique registered editors
        .panel-body
          | Panel content
    .col-sm-6
      .panel.panel-danger
        .panel-heading
          h3.panel-title Least unique registered editors
        .panel-body
          | Panel content
    .col-sm-6
      .panel.panel-primary
        .panel-heading
          h3.panel-title Article with longest existence
        .panel-body
          | Panel content
    .col-sm-6
      .panel.panel-danger
        .panel-heading
          h3.panel-title Article with shortest existence
        .panel-body
          | Panel content
